body {
  background-color: #f8f9fa;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  padding: 20px;
}

h2 {
  color: #007bff; 
}

h3{
  color:black;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #dddddd;
}

th {
  background-color: #007bff;
  color: #ffffff;
  text-transform: uppercase;
}

tr:hover {
  background-color: #f2f2f2;
}

.tabs {
  margin-top: 20px;
}

.tab-link {
  background-color: #f8f9fa;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 15px;
  transition: background-color 0.3s ease;
  border-bottom: 3px solid transparent;
}

.tab-link:hover, .tab-link.active {
  background-color: #e9ecef;
  border-bottom: 3px solid #007bff;
}

.tab-content {
  background-color: #fff;
  padding: 20px;
  margin-top: -3px;
  border: 1px solid #ddd;
  border-top: none;
}

.add-button, .drop-button {
  background-color: #28a745; 
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.drop-button {
  background-color: #dc3545;
}

.add-button:hover {
  background-color: #218838;
}

.drop-button:hover {
  background-color: #c82333;
}

.text-center {
  text-align: center;
}

.mt-20 {
  margin-top: 20px;
}
