<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/style.css">
  <title>Dashboard</title>
</head>
<body>
  <h2>ACME University</h2>
  <h3>Welcome to your dashboard, {{ user.username }}!</h3>

  {% if user.is_admin %}
  <p><a href="{{ url_for('admin.index') }}">Admin Dashboard</a></p>
  {% endif %}

  <p><a href="{{ url_for('logout') }}">Logout</a></p>

  <div class="tabs">
    <button class="tab-link" onclick="openTab(event, 'EnrolledCourses')" id="defaultOpen">Your Courses</button>
    <button class="tab-link" onclick="openTab(event, 'AddCourses')">Add Courses</button>
  </div>

  <div id="EnrolledCourses" class="tab-content">
    <h3>My Enrolled Courses</h3>
    {% if courses_info %}
    <table>
      <thead>
        <tr>
          <th>Course Name</th>
          <th>Teacher</th>
          <th>Time</th>
          <th>Students Enrolled</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for course in courses_info %}
        <tr>
          <td>{{ course['name'] }}</td>
          <td>{{ course['teacher'] }}</td>
          <td>{{ course['time'] }}</td>
          <td>{{ course['student_count'] }}/{{ course['capacity'] }}</td>
          <td>
            <form action="{{ url_for('drop_course', course_id=course.id) }}" method="post">
              <button type="submit" class="drop-button">Drop</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>You are not enrolled in any courses.</p>
    {% endif %}
  </div>

  <div id="AddCourses" class="tab-content">
    <h3>Add Courses</h3>
    <table>
        <thead>
            <tr>
                <th>Course Name</th>
                <th>Teacher</th>
                <th>Time</th>
                <th>Students Enrolled</th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>
            {% for course in available_courses %}
            <tr>
                <td>{{ course['name'] }}</td>
                <td>{{ course['teacher'] }}</td>
                <td>{{ course['time'] }}</td>
                <td>{{ course['student_count'] }}/{{ course['capacity'] }}</td>
                <td>
                    <form action="{{ url_for('enroll_course', course_id=course.id) }}" method="post">
                        <button type="submit" class="add-button">Add</button>
                    </form>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="5">No courses available to add.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

  <script src="/static/script.js"></script>
</body>
</html>